$primary-color: #437f53;
$gray: #e1e1e1;

@import "nav";

body {
  font-family: 'Open Sans', serif;
  padding-top: 8rem;
}

a {
  color: $primary-color;
}

.split {
  background-color: $gray;
  height: 1px;
  margin: 5rem auto;
  width: 80%;
  max-width: 500px;
}

footer {
  padding: 8rem 0 2rem;
}

.button-green {
  background-color: $primary-color;
  border-color: $primary-color;
}

.button-green.button-clear,
.button-green.button-outline {
  background-color: transparent;
  color: $primary-color;
}

.button-green.button-clear {
  border-color: transparent;
}

.wide {
  margin: 0 auto;
  max-width: 900px;
}

.capitalize {
  text-transform: capitalize;
}

.green {
  background: rgba(221, 255, 214, 0.5);
  font-weight: bold;
}

.red {
  background: rgba(255, 217, 204, 0.5);
  font-weight: bold;
}

table {
  &.centered {
    th, td {
      text-align: center;
    }
  }

  &.comfortable {
    th, td {
      padding: 1.2em 0;
    }
  }

  .apexcharts-canvas {
    margin: 0 auto;
  }
}
