$primary-color: #437f53;
$gray: #e1e1e1;

@import "nav";

body {
  font-family: 'Open Sans', serif;
  padding-top: 8rem;
}

a {
  color: $primary-color;
}

.split {
  background-color: $gray;
  height: 1px;
  margin: 4rem auto;
  width: 80%;
  max-width: 500px;
}

footer {
  padding: 8rem 0 2rem;
}

.button-green {
  background-color: $primary-color;
  border-color: $primary-color;
}

.button-green.button-clear,
.button-green.button-outline {
  background-color: transparent;
  color: $primary-color;
}

.button-green.button-clear {
  border-color: transparent;
}

.wide {
  margin: 0 auto;
  max-width: 600px;
}

.capitalize {
  text-transform: capitalize;
}

.green {
  background: #ddffd6;
  font-weight: bold;
}

.red {
  background: #ffd9cc;
  font-weight: bold;
}
