.navigation {
  background-color: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1; }
  .navigation-title {
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none; }
    .navigation-title img {
      border-radius: 50%;
      height: 100%;
      padding: 0.5em 0;
      margin-right: 0.75em;
      vertical-align: middle; }
    .navigation-title .title {
      display: none; }
  .navigation-list {
    background-color: #f4f5f6;
    border-top: 1px solid #d1d1d1;
    border-bottom: 2px solid #d1d1d1;
    box-shadow: 0 8px 10px rgba(150, 150, 150, 0.9);
    list-style-type: none;
    display: none;
    margin: 0 -2rem;
    text-align: center; }
    .navigation-list.active {
      display: block; }
  .navigation-link {
    padding: 0.5em;
    display: inline-block;
    line-height: 2em; }
  .navigation-toggle {
    position: absolute;
    top: 18px;
    right: 24px;
    cursor: pointer;
    height: 18px; }
  @media (min-width: 40rem) {
    .navigation .navigation-title .title {
      display: inline;
      font-size: 1.6rem;
      line-height: 5.2rem;
      padding: 0;
      text-decoration: none; }
    .navigation .navigation-toggle {
      display: none; }
    .navigation .navigation-list {
      background-color: transparent;
      border: none;
      box-shadow: none;
      display: inline-block;
      float: right;
      margin: 0; }
    .navigation .navigation-item {
      display: inline-block;
      margin-bottom: 0; } }

body {
  font-family: 'Open Sans', serif;
  padding-top: 8rem; }

a {
  color: #437f53; }

.label {
  background: #FA4443;
  border-radius: 2px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  margin-left: 0.5em;
  padding: 1%; }

.split {
  background-color: #e1e1e1;
  height: 1px;
  margin: 5rem auto;
  width: 80%;
  max-width: 500px; }

footer {
  padding: 8rem 0 2rem; }

.button-green {
  background-color: #437f53;
  border-color: #437f53; }

.button-green.button-clear,
.button-green.button-outline {
  background-color: transparent;
  color: #437f53; }

.button-green.button-clear {
  border-color: transparent; }

.wide {
  margin: 0 auto;
  max-width: 900px; }

.capitalize {
  text-transform: capitalize; }

.green {
  background: rgba(221, 255, 214, 0.5);
  font-weight: bold; }

.red {
  background: rgba(255, 217, 204, 0.5);
  font-weight: bold; }

table.centered th, table.centered td {
  text-align: center; }

table.comfortable th, table.comfortable td {
  padding: 1.2em 0; }

table .apexcharts-canvas {
  margin: 0 auto; }
